bin/
credentials.org
debugging.org
debug.org
# FIXME
formatter
ideas.org
include/
# incomplete
knowledgebase.org
letsencrypt-usage.org
lib/
lib64
meta.org
__pycache__
pyvenv.cfg
portfolio-webpage-untracked
screenfly.org
SSL/
static/downloads/*
static/javascript/main.js
# symlinked to lib
temp
third-party-notes.org
tmp
todo-later.org
todo.org
vultr*
WIP.org
*.zip
