/* ******************************
   * Code-related media queries *
   ****************************** */


/* *************
   * Snippet 1 *
   ************* */

@media (min-width: 813px) {
  div.codearea pre code.code-search {
    font-size: 9px;
  }
}

@media (min-width: 880px) {
  div.codearea pre code.code-search {
    font-size: 10px;
  }
}

@media (min-width: 946px) {
  div.codearea pre code.code-search {
    font-size: 11px;
  }
}

@media (min-width: 1283px) {
  div.codearea pre code.code-search {
    font-size: 12px;
  }
}

@media (min-width: 1350px) {
  div.codearea pre code.code-search {
    font-size: 13px;
  }
}

@media (min-width: 1416px) {
  div.codearea pre code.code-search {
    font-size: 14px;
  }
}

@media (min-width: 1483px) {
  div.codearea pre code.code-search {
    font-size: 15px;
  }
}

/* ***************
   * Snippet 2.1 *
   *************** */

@media (min-width: 827px) {
  div.codearea pre code.code-lev {
    font-size: 9px;
  }
}

@media (min-width: 895px) {
  div.codearea pre code.code-lev {
    font-size: 10px;
  }
}

@media (min-width: 1235px) {
  div.codearea pre code.code-lev {
    font-size: 11px;
  }
}

@media (min-width: 1303px) {
  div.codearea pre code.code-lev {
    font-size: 12px;
  }
}

@media (min-width: 1373px) {
  div.codearea pre code.code-lev {
    font-size: 13px;
  }
}

@media (min-width: 1443px) {
  div.codearea pre code.code-lev {
    font-size: 14px;
  }
}

@media (min-width: 1511px) {
  div.codearea pre code.code-lev {
    font-size: 15px;
  }
}

/* ***************
   * Snippet 2.2 *
   *************** */

@media (min-width: 641px) {
  div.codearea pre code.code-lev-deps {
    font-size: 9px;
  }
}

@media (min-width: 691px) {
  div.codearea pre code.code-lev-deps {
    font-size: 10px;
  }
}

@media (min-width: 743px) {
  div.codearea pre code.code-lev-deps {
    font-size: 11px;
  }
}

@media (min-width: 793px) {
  div.codearea pre code.code-lev-deps {
    font-size: 12px;
  }
}

@media (min-width: 845px) {
  div.codearea pre code.code-lev-deps {
    font-size: 13px;
  }
}

@media (min-width: 897px) {
  div.codearea pre code.code-lev-deps {
    font-size: 14px;
  }
}

@media (min-width: 1221px) {
  div.codearea pre code.code-lev-deps {
    font-size: 15px;
  }
}

/* ***************
   * Snippet 3.1 *
   *************** */

@media (min-width: 679px) {
  div.codearea pre code.code-main-py {
    font-size: 9px;
  }
}

@media (min-width: 732px) {
  div.codearea pre code.code-main-py {
    font-size: 10px;
  }
}

@media (min-width: 787px) {
  div.codearea pre code.code-main-py {
    font-size: 11px;
  }
}

@media (min-width: 844px) {
  div.codearea pre code.code-main-py {
    font-size: 12px;
  }
}

@media (min-width: 899px) {
  div.codearea pre code.code-main-py {
    font-size: 13px;
  }
}

@media (min-width: 1224px) {
  div.codearea pre code.code-main-py {
    font-size: 14px;
  }
}

@media (min-width: 1281px) {
  div.codearea pre code.code-main-py {
    font-size: 15px;
  }
}

/* ***************
   * Snippet 3.2 *
   *************** */

@media (min-width: 659px) {
  div.codearea pre code.code-main-ts {
    font-size: 9px;
  }
}

@media (min-width: 713px) {
  div.codearea pre code.code-main-ts {
    font-size: 10px;
  }
}

@media (min-width: 765px) {
  div.codearea pre code.code-main-ts {
    font-size: 11px;
  }
}

@media (min-width: 819px) {
  div.codearea pre code.code-main-ts {
    font-size: 12px;
  }
}

@media (min-width: 873px) {
  div.codearea pre code.code-main-ts {
    font-size: 13px;
  }
}

@media (min-width: 925px) {
  div.codearea pre code.code-main-ts {
    font-size: 14px;
  }
}

@media (min-width: 1249px) {
  div.codearea pre code.code-main-ts {
    font-size: 15px;
  }
}

/* ***************
   * Snippet 3.3 *
   *************** */

@media (min-width: 730px) {
  div.codearea pre code.code-portfolio-html {
    font-size: 9px;
  }
}

@media (min-width: 790px) {
  div.codearea pre code.code-portfolio-html {
    font-size: 10px;
  }
}

@media (min-width: 849px) {
  div.codearea pre code.code-portfolio-html {
    font-size: 11px;
  }
}

@media (min-width: 909px) {
  div.codearea pre code.code-portfolio-html {
    font-size: 12px;
  }
}

@media (min-width: 1242px) {
  div.codearea pre code.code-portfolio-html {
    font-size: 13px;
  }
}

@media (min-width: 1301px) {
  div.codearea pre code.code-portfolio-html {
    font-size: 14px;
  }
}

@media (min-width: 1361px) {
  div.codearea pre code.code-portfolio-html {
    font-size: 15px;
  }
}

/* ***************
   * Snippet 3.4 *
   *************** */

@media (min-width: 543px) {
  div.codearea pre code.code-stylesheet-css {
    font-size: 9px;
  }
}

@media (min-width: 585px) {
  div.codearea pre code.code-stylesheet-css {
    font-size: 10px;
  }
}

@media (min-width: 627px) {
  div.codearea pre code.code-stylesheet-css {
    font-size: 11px;
  }
}

@media (min-width: 669px) {
  div.codearea pre code.code-stylesheet-css {
    font-size: 12px;
  }
}

@media (min-width: 713px) {
  div.codearea pre code.code-stylesheet-css {
    font-size: 13px;
  }
}

@media (min-width: 755px) {
  div.codearea pre code.code-stylesheet-css {
    font-size: 14px;
  }
}

@media (min-width: 797px) {
  div.codearea pre code.code-stylesheet-css {
    font-size: 15px;
  }
}

/* ***************
   * Snippet 4 *
   *************** */

@media (min-width: 1288px) {
  div.codearea pre code.code-chatbot-go {
    font-size: 9px;
  }
}

@media (min-width: 1373px) {
  div.codearea pre code.code-chatbot-go {
    font-size: 10px;
  }
}

@media (min-width: 1458px) {
  div.codearea pre code.code-chatbot-go {
    font-size: 11px;
  }
}

@media (min-width: 1546px) {
  div.codearea pre code.code-chatbot-go {
    font-size: 12px;
  }
}

@media (min-width: 1628px) {
  div.codearea pre code.code-chatbot-go {
    font-size: 13px;
  }
}

@media (min-width: 1716px) {
  div.codearea pre code.code-chatbot-go {
    font-size: 14px;
  }
}

@media (min-width: 1801px) {
  div.codearea pre code.code-chatbot-go {
    font-size: 15px;
  }
}
