/* ******************************************************
   * stylesheet.css: CSS for landing.html               *
   ****************************************************** */

@font-face {
  src: url("../fonts/DejaVuSansMono/DejaVuSansMono.ttf");
  font-family: 'DejaVuSansMono';
}

@font-face {
  src: url("../fonts/DejaVuSansMono/DejaVuSansMono-Oblique.ttf");
  font-family: 'DejaVuSansMono';
  font-style: italic;
}

@font-face {
  src: url("../fonts/DejaVuSansMono/DejaVuSansMono-Bold.ttf");
  font-family: 'DejaVuSansMono';
  font-weight: bold;
}

@font-face {
  src: url("../fonts/DejaVuSansMono/DejaVuSansMono-BoldOblique.ttf");
  font-family: 'DejaVuSansMono';
  font-weight: bold;
  font-style: italic;
}

#welcome-blurb {
  animation: slideIn 1.2s forwards;
  -webkit-animation: slideIn 1.2s forwards;
  transform: translateX(10%);
  -webkit-transform: translateX(10%);
  opacity: 0;
}

@keyframes slideIn {
  100% { transform: translateX(0%); opacity: 1.0; }
}

@-webkit-keyframes slideIn {
  100% { transform: translateX(0%); opacity: 1.0; }
}

.tab-content pre {
  max-height:90vh;
}

/* Prism override to fix line numbers */
.line-numbers .line-numbers-rows {
  font-size: 16px !important;
  top: -0.19em !important;
}

div.codearea {
  width: 33.3%;
  max-width: 100%;
  border-top: 1px solid #E5E5E5;
  padding-top: 0.5em;
  margin-top: 0.3em;
}

div.codearea pre code {
  font-family: 'DejaVu Sans Mono';
  font-size: 8px;
}

div.side-navbar {
  font-size: 0.7em;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

div.subtext {
  font-size: 0.7em;
  padding-bottom: 10px;
}

#AI-assistant {
  opacity: 0;
  display: none;
  animation: fadeIn 0.3s forwards;
  -webkit-animation: fadeIn 0.3s forwards;
  position: absolute;
  background-color: #d7d7d7;
  border-style: outset;
  padding: 15px;
  width: 400px;
  left: 700px;
  top: 100px;
}

@media (max-width: 1103px) {
  #AI-assistant {
    left: 600px;
  }
}

@media (max-width: 1026px) {
  #AI-assistant {
    left: 235px;
    top: 135px;
  }
}

@media (max-width: 991px) {
  #AI-assistant {
    left: 495px;
  }
}

@media (max-width: 897px) {
  #AI-assistant {
    left: 384px;
  }
}

@media (max-width: 804px) {
  #AI-assistant {
    display: none !important;
  }
  #toggle-AI-assistant {
    display: none;
  }
}

#AI-message-area {
  max-height: 700px;
  overflow-y: scroll;
}

@keyframes fadeIn {
  100% { opacity: 1.0; }
}

@-webkit-keyframes fadeIn {
  100% { opacity: 1.0; }
}

#AI-assistant.fade-out {
  opacity: 1.0;
  animation: fadeOut 0.3s forwards;
  -webkit-animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  100% { opacity: 0; }
}

#send-email-button {
  margin-top:10px;
  font-size:0.9em;
}

#AI-send-button {
  height:30px;
  font-size:0.9em;
  margin-top:15px;
  padding: 4px 10px 5px 10px;
  border-radius: 15px;
}

/* ********************************
   * Layout-related media queries *
   ******************************** */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  div.side-navbar {
    font-size: 1em;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  div.col.codearea {
    border-top: none;
    padding-top: 0em;
    margin-top: 0em;
  }
  div.side-navbar {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    font-size: 1.2em;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
/* Currently there is no special logic for these devices. */
@media (min-width: 1400px) {}