br.break {
  margin-bottom: 2%;
}

div.codearea {
  position: relative;
  left: 3em;
}

/* pre.code does not work here; lowering the width below 100% will leave the
   language indicator hanging out. It has to be <div><pre><code></code></pre></div> */
div.codearea.code, div.codearea div.code {
  width: 90%;
}

div.code pre {
  height: 1000px;
}