/* # #################################### #
   # stylesheet.css: CSS for landing.html #
   # #################################### # */

@font-face {
  src: url("../fonts/DejaVuSansMono/DejaVuSansMono.ttf");
  font-family: 'DejaVuSansMono';
}

@font-face {
  src: url("../fonts/DejaVuSansMono/DejaVuSansMono-Oblique.ttf");
  font-family: 'DejaVuSansMono';
  font-style: italic;
}

@font-face {
  src: url("../fonts/DejaVuSansMono/DejaVuSansMono-Bold.ttf");
  font-family: 'DejaVuSansMono';
  font-weight: bold;
}

@font-face {
  src: url("../fonts/DejaVuSansMono/DejaVuSansMono-BoldOblique.ttf");
  font-family: 'DejaVuSansMono';
  font-weight: bold;
  font-style: italic;
}

br.break {
  margin-bottom: 2%;
}

.tab-content pre {
  max-height:90vh;
}

div.codearea {
  width: 33.3%;
  max-width: 100%;
}

/* Defaults & extra small devices (< 576px) */
div.codearea pre code {
  font-family: 'DejaVu Sans Mono';
  font-size: 8px;
}

div.side-navbar {
  font-size: 0.7em;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  div.codearea pre code {
    font-size: 10px;
  }
  div.side-navbar {
    font-size: 1em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  div.codearea pre code {
    font-size: 11px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div.side-navbar {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  div.codearea pre code {
    font-size: 15px;
  }
  div.side-navbar {
    font-size: 1.2em;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
